:root {
  --corsecundaria: #ffc7f9;
  --corprincipal: #caf9ff;
  --cortitulo: #7c0160;
}

body {
  background: var(--corprincipal);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.cabecalho h1 {
  color: var(--cortitulo);
}

.cabecalho img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.container-input {
  display: flex;
  justify-content: space-between;
  padding: 2% 0 0 4%;
}

.container-input .input {
  width: 400px;
  height: 330px;
}

#input-text {
  width: 345px;
  height: 330px;
  text-align: center;
  font-size: 20px;
  color: var(--cortitulo);
  background: transparent;
  border: none;
  box-shadow: none;
  outline: 0;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

#output {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--cortitulo);
  border-radius: 20px;
  width: 350px;
  height: 400px;
  margin-right: 2%;
}
#output h2 {
  text-align: center;
  font-size: 25px;
  color: var(--cortitulo);
}

#output span {
  font-size: 16px;
  text-align: center;
}

#output img {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  margin-top: 4%;
}
.container-btn button {
  border: 2px solid var(--cortitulo);
  border-radius: 10px;
  text-decoration: none;
  color: #7c0160;
  width: 150px;
  height: 50px;
  margin-left: 4%;
  cursor: pointer;
}

.container-btn button:hover {
  border: 2px solid var(--corsecundaria);
  transition: 0.5s a;
}

.btn-copiar {
  border: 2px solid var(--cortitulo);
  border-radius: 10px;
  text-decoration: none;
  color: #7c0160;
  width: 150px;
  height: 50px;
  margin-bottom: 10%;
  margin-left: 30%;
  cursor: pointer;
}
.btn-copiar:hover {
  border: 2px solid var(--corsecundaria);
  transition: 0.5s;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin-top: 15px;
  color: var(--cortitulo);
  margin-bottom: 0;
}

.rodape h3 {
  font-size: 16px;
}

.icons ion-icon {
  width: 35px;
  height: 35px;
  color: var(--cortitulo);
}

.icons ion-icon:hover {
  color: var(--corsecundaria);
}

#atencao {
  font-weight: bold;
  text-transform: uppercase;
}
